.body {
	display:table;
	width: 100vw;
}

#coords{
    height: 100px;
    overflow: scroll;
}

.cell {
	display:table-cell
}

#cesiumContainer {
	height: 100vh;
}

#credits {
	display: none;
}

.planNameSpan {
	font-size: 2rem;
}

.editModeText{
     position: absolute;
     z-index:2;
     width:auto;
     height:auto;
     bottom:15px;
     left:35px;
 }

#connected_div{
    position:absolute;
    z-index:2;
    bottom:15px;
    left:5px;
}
